/*Section*/
@media (max-width:470px)
{

section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
}


/*Logo*/
@media (max-width:800px){
.logo{
width: 500px;
}
}
@media (max-width:700px){
.logo{
width: 400px;
}
}

@media (max-width:500px){
.logo{
width: 300px;
}
}


/*Primeiro titulo*/
@media (max-width:1050px){
h1{
margin-top: 25px;
}
}

/*Titulo*/
@media (max-width:1024px){

h1{
font-size: 2em;
}


h2{
font-size: 2em;
}

h3{
font-size: 2em;
}

h4{
font-size: 2em;
}
.fim{
font-size: 2.5em;
}
.footer{
font-size: 2.3em;
}
}



@media (max-width:790px){

h1{
font-size: 1.7em;
}


h2{
font-size: 1.7em;
}


h3{
font-size: 1,7em;
}

h4{
font-size: 1.7em;
}


h5{
font-size: 1.7em;
}

h6{
font-size: 1.7em;
}
.fim{
font-size: 2.5em;
}

.footer{
font-size: 2em;
}
}

@media (max-width:400px){

h1{
font-size: 1.5em;
}


h2{
font-size: 1.5em;
}

h3{
font-size: 1.5em;
}

h4{
font-size: 1.5em;
}

h5{
font-size: 1.5em;
}

h6{
font-size: 1.5em;
}

.fim{
font-size: 2em;
}
.footer{
font-size: 1.5em;
}
}

@media (max-width:380px){
.footer{
font-size: 1.3em;
}
}


/*Texto*/
@media (max-width:1024px){
p{
font-size: 2.3em;
}
}

@media (max-width:850px){
p{
font-size: 2em;
line-height: 40px;
}
}

@media (max-width:650px){
p{
font-size: 1.7em;
line-height: 30px;
}
}


@media (max-width:480px){
p{
font-size: 1.5em;
line-height: 30px;
}
}


@media (max-width:360px){
p{
font-size: 1.3em;
line-height: 20px;
}
}
    


/*Imagens Iniciais*/
@media (max-width:1600px){
.iniciais img{
margin: 10px;
border: white 3px solid;
width: 400px;
}
}



@media (max-width:1290px){
.iniciais img{
margin: 10px;
border: white 3px solid;
width: 300px;

}
}

@media (max-width:990px){
.iniciais img{
margin: 10px;
border: white 3px solid;
width: 250px;
}
}

@media (max-width:840px){
.iniciais img{
flex-direction: row;
margin: 10px;
border: white 3px solid;
width: 200px;
}
}

@media (max-width:680px)
{
section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.iniciais img{
flex-direction: row;
margin: 10px;
border: white 3px solid;
width: 450px;
}
}

@media (max-width:470px)
{
.iniciais img{
flex-direction: row;
margin: 10px;
border: white 3px solid;
width: 300px;
}
}


@media (max-width:320px)
{
.iniciais img{
flex-direction: row;
margin: 10px;
border: white 3px solid;
width: 200px;
}
}


/*Video*/
@media (max-width:740px){
.video{
height: 300px;
width: 530px;
}
}

@media (max-width:550px){
.video{
height: 170px;
width: 300px;
}
}




    




    

